@model Models.Trainer
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <h1>
        Entry Page
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Trainer Entry Form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        
                        <div class="form-group">
                            <label for="OrganizationId" class="col-sm-3 control-label">Organization</label>

                            <div class="col-sm-7">
                                <select class="form-control">
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CourseId" class="col-sm-3 control-label">Course</label>

                            <div class="col-sm-7">
                                <select class="form-control">
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="BachId" class="col-sm-3 control-label">Batch</label>

                            <div class="col-sm-7">
                                <select class="form-control">
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                          
                            <label for="Name" class="col-sm-3 control-label">Name</label>

                            <div class="col-sm-7">
                                @*<input type="text" class="form-control" placeholder="Name">*@
                                @Html.TextBoxFor(c => c.Name, new { @class = "form-control", id = "Name", placeholder = "Enter Trainer Name" })
                                @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ContactNo" class="col-sm-3 control-label">Contuct No</label>

                            <div class="col-sm-7">
                                @*<input type="password" class="form-control" placeholder="Contuct No">*@
                                @Html.TextBoxFor(c => c.ContactNo, new { @class = "form-control", id = "ContactNo", placeholder = "Enter  Trainer ContactNo" })
                                @Html.ValidationMessageFor(c => c.ContactNo, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email " class="col-sm-3 control-label">Email</label>

                            <div class="col-sm-7">
                                @*<input type="password" class="form-control" placeholder="Email">*@
                                @Html.TextBoxFor(c => c.Email, new { @class = "form-control", id = "Email ", placeholder = "Enter  Trainer Email " })
                                @Html.ValidationMessageFor(c => c.Email, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="AddressLine1" class="col-sm-3 control-label">Address Line 1</label>

                            <div class="col-sm-7">
                                @*<input type="text" class="form-control" placeholder="Address1">*@
                                @Html.TextBoxFor(c => c.AddressLine1, new { @class = "form-control", id = "AddressLine1", placeholder = "Enter  Trainer AddressLine1" })
                                @Html.ValidationMessageFor(c => c.AddressLine1, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressLine2" class="col-sm-3 control-label">Address Line 2</label>

                            <div class="col-sm-7">
                                @*<input type="password" class="form-control" placeholder="Address2">*@
                                @Html.TextBoxFor(c => c.AddressLine2, new { @class = "form-control", id = "AddressLine2", placeholder = "Enter Trainer AddressLine2" })
                                @Html.ValidationMessageFor(c => c.AddressLine2, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="City" class="col-sm-3 control-label">City</label>

                            <div class="col-sm-7">
                                @*<input type="password" class="form-control" placeholder="City">*@
                                @Html.TextBoxFor(c => c.City, new { @class = "form-control", id = "City", placeholder = "Enter Trainer City" })
                                @Html.ValidationMessageFor(c => c.City, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PostalCode " class="col-sm-3 control-label">Postal Code</label>

                            <div class="col-sm-4">
                                @*<input type="password" class="form-control" placeholder="Postal">*@
                                @Html.TextBoxFor(c => c.PostalCode, new { @class = "form-control", id = "PostalCode ", placeholder = "Enter  Trainer PostalCode " })
                                @Html.ValidationMessageFor(c => c.PostalCode, null, new { @class = "text-danger" })
                            </div>
                        </div>
                         
                        <div class="form-group">
                            <label for="Country" class="col-sm-3 control-label">Country</label>

                            <div class="col-sm-5">
                                @*<input type="password" class="form-control" placeholder="Country">*@
                                @Html.TextBoxFor(c => c.Country, new { @class = "form-control", id = "Country", placeholder = "Enter  Trainer Country" })
                                @Html.ValidationMessageFor(c => c.Country, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ProfilePicture" class="col-sm-3 control-label">Image</label>

                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img class="img-bordered img-responsive" style="height:156px; width: 156px;" id="output" />
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="file" class="form-control-static" name="profilePic" accept="image/gif, image/jpeg, image/png" onchange="loadFile(event)" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info col-md-offset-11">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </section>
        <!-- /.Main Board -->
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
</section>

<script>
  
    //Image Dispage script
    var loadFile = function(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>