@using System.Web.UI.WebControls
@model Models.Batch
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Batch Entry";
}
<section class="content-header">
    <h1>
        Entry Page
        <small>Batch</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Batch</li>
        <li class="active">Entry</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Batch Entry Form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="Organization" class="col-sm-3 control-label">Organization</label>

                            <div class="col-sm-7">
                                <select class="form-control">
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Course" class="col-sm-3 control-label">Course</label>

                            <div class="col-sm-7">
                                <select class="form-control">
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="BatchNo" class="col-sm-3 control-label">Batch No</label>

                            <div class="col-sm-5">
                                @Html.TextBoxFor(c => c.BatchNo, new {@class = "form-control", placeholder = "Batch Number"})
                                @Html.ValidationMessageFor(c => c.BatchNo, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Description" class="col-sm-3 control-label">Description</label>

                            <div class="col-sm-7">
                                @Html.TextAreaFor(c => c.Description, new { @class = "form-control", placeholder = "Batch Number",rows="3" })
                                @Html.ValidationMessageFor(c => c.Description, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="StartDate" class="col-sm-3 control-label">Start Date</label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(c => c.StartDate, new { @class = "form-control pull-right", placeholder = "2018-09-23", id = "startdatepicker",required})
                                @Html.ValidationMessageFor(c => c.StartDate, null, new { @class = "text-danger" }) 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EndDate" class="col-sm-3 control-label">End Date</label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(c => c.EndDate, new { @class = "form-control pull-right", placeholder = "2018-09-23", id = "enddatepicker", required})
                                @Html.ValidationMessageFor(c => c.EndDate, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </section>
        <!-- /.Main Board -->
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
</section>