@model Models.Course
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="~/Plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="~/Plugins/select2/select2.min.css">


<section class="content-header">
    <h1>
        Entry Page
        <small>Course</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Course Entry Form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Organization</label>

                            <div class="col-sm-7">
                                <select class="form-control">
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Name" class="col-sm-3 control-label">Name</label>

                            <div class="col-sm-7">
                               @*<input type="password" class="form-control" placeholder="Password">*@
                                @Html.TextBoxFor(c => c.Name, new { @class = "form-control", id = "Name", placeholder = "Enter Organization Name" })
                                @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Code" class="col-sm-3 control-label">Code</label>

                            <div class="col-sm-7">
                                @*<input type="password" class="form-control" placeholder="Password">*@
                                @Html.TextBoxFor(c => c.Code, new { @class = "form-control", id = "Code", placeholder = "Enter Organization Code" })
                                @Html.ValidationMessageFor(c => c.Code, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Duration" class="col-sm-3 control-label">Course Duration (hrs)</label>

                            <div class="col-sm-4">
                                @*<input type="password" class="form-control" placeholder="Password" />*@
                                @Html.TextBoxFor(c => c.Duration, new { @class = "form-control", id = "Duration", placeholder = "Enter Organization Duration" })
                                @Html.ValidationMessageFor(c => c.Duration, null, new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Credit" class="col-sm-3 control-label">Credit</label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(c => c.Credit, new { @class = "form-control", id = "Credit", placeholder = "Enter Organization Credit" })
                                @Html.ValidationMessageFor(c => c.Credit, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Outline" class="col-sm-3 control-label">Outline</label>

                            <div class="col-sm-7">
                                @*<textarea id="editor1" name="editor1" rows="10" cols="80"></textarea>*@
                                @Html.TextAreaFor(c => c.Outline, new { @class = "form-control", id = "Outline", placeholder = "Enter Organization Outline" })
                                @Html.ValidationMessageFor(c => c.Outline, null, new { @class = "text-danger" })
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Tag" class="col-sm-3 control-label">Tags</label>
                            
                            <div class="col-sm-7">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
                                    <option>Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info col-md-offset-11">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </section>
        <!-- /.Main Board -->
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
</section>
<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="~/Plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Select2 -->
<script src="~/Plugins/select2/select2.full.min.js"></script>
<script>
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1');
    });
</script>